body{
    background-color: rgb(238, 236, 250);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
}
.signupBox{
    position: absolute;
    right: 0;
    border: none;
    padding: 70px 50px;
    margin: 100px 30px;
    display: grid;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px grey;
}
input{
    padding: 11px 10px;
    padding-right: 20px;
    margin: 8px 5px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0px 0px 2px;
    font-size: 15px;
    display: block;
    margin-bottom: 1px;
    
}



.submit{
    padding: 11px 10px;
    padding-right: 20px;
    margin: 18px 5px;
    border:none;
    color: white;
    border-radius: 3px;
    box-shadow: 1px 0px 3px grey;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor:pointer
}
.submit{
  
    
    display: block;
    width: 95%;
    border:2px solid black;
    color: black;
    font-size: 15px;;;
}
.submit:hover{
    background-position: left bottom;
    color: white;
}
.submit:active{
    background-color: white;
    color: black;
    transform: scale(95%);
}